/* chatbot.css */

/* Allgemeine Stile für den Chatbot */
.chat-history {
    position: fixed;
    max-height: 100px; /* Begrenze die Höhe der Chat-Historie */
    overflow-y: auto; /* Scrolling aktivieren, wenn der Inhalt überläuft */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    height: 300px;
    width: 90%;

  }
  


  /* Stile für die Eingabezeile */
  form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60% !important;
  }
  
  input[type="text"] {
    flex-grow: 1; /* Input-Feld dehnt sich aus, um verfügbaren Platz zu nutzen */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    right: 30%;
    top: 30%;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: none;
  }

  .formQuestion{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 90%;
  
  }

  .chat-history{
    color: black;
  }
  
  /* Medienabfragen für unterschiedliche Bildschirmgrößen */
  @media screen and (max-width: 768px) {
    /* Stile für kleinere Bildschirmgrößen */
    .chat-history {
      max-height: 200px;
      width: 60%;
      color: black;
    }
  }
  